In [1]:
import pandas as pd
import numpy as np

In [57]:
# Import the dataframe
df = pd.read_csv('../scraping/ryanair.csv')
# Remove the duplicates based on the columns flightKey and fareKey
df = df.drop_duplicates(subset=['flightKey', 'fareKey'])
dfMonth = df['timeStart'].apply(lambda i: i.split('-')[1])
df.loc[df.index, 'month'] = dfMonth
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10148 entries, 0 to 10147
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   termsOfUse             10148 non-null  object
 1   currency               10148 non-null  object
 2   currPrecision          10148 non-null  int64
 3   serverTimeUTC          10148 non-null  object
 4   origin                 10148 non-null  object
 5   originName             10148 non-null  object
 6   destination            10148 non-null  object
 7   destinationName        10148 non-null  object
 8   routeGroup             10148 non-null  object
 9   tripType               10148 non-null  object
 10  upgradeType            10148 non-null  object
 11  dateOut                10148 non-null  object
 12  faresLeft              10148 non-null  int64
 13  flightKey              10148 non-null  object
 14  infantLeft             0 non-null      float64
 15  operatedBy             1184 non-null   object
 16  flightNumber           10148 non-null  object
 17  duration               10148 non-null  object
 18  timeUTCStart           10148 non-null  object
 19  timeUTCEnd             10148 non-null  object
 20  timeStart              10148 non-null  object
 21  timeEnd                10148 non-null  object
 22  segmentAmnt            10148 non-null  int64
 23  fareType               10148 non-null  object
 24  fareKey                10148 non-null  object
 25  fareClass              10148 non-null  object
 26  fareAmount             10148 non-null  float64
 27  fareCount              10148 non-null  int64
 28  fareHasDiscount        10148 non-null  bool
 29  farePublishedFare      10148 non-null  float64
 30  fareDiscountInPercent  10148 non-null  int64
 31  fareHasPromoDiscount   10148 non-null  bool
 32  fareDiscountAmount     10148 non-null  float64
 33  fareHasBogof           10148 non-null  bool
 34  month                  10148 non-null  object
dtypes: bool(3), float64(4), int64(5), object(23)
memory usage: 2.8+ MB

In [66]:
dfZaventemMalaga = df[(df['origin'] == 'BRU') & (df['destination'] == 'AGP')]
# Create a month column based on the timeStart column
len(dfZaventemMalaga[dfZaventemMalaga["month"] == "04"].index)

64

In [67]:
dfZaventemPalma = df[(df['origin'] == 'BRU') & (df['destination'] == 'PMI')]
# Calculate the average price for may
dfZaventemPalma[dfZaventemPalma["month"] == "05"]["fareAmount"].mean()

85.32714285714285

In [68]:
dfZaventemMalaga[dfZaventemMalaga["month"] == "06"]["faresLeft"].sum()

-5