In [71]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt

* Ryanair	Brussel-Zaventem	Malaga	Aantal vluchten	April
* Ryanair	Brussel-Zaventem	Palma	Gemiddelde prijs	Mei
* Ryanair	Brussel-Zaventem	Malaga	Totaal aantal plaatsen beschikbaar	Juni
* Ryanair	Brussel-Zaventem	Tenerife	Aantal vluchten	01/09 tot en met 14/09
* Ryanair	Charleroi	Alicante	Aantal vluchten	Juni
* Ryanair	Charleroi	Ibiza	Aantal vluchten	15/08 tot en met 27/08
* Ryanair	Charleroi	Malaga	Vertrekuur	8-apr
* Ryanair	Charleroi	Palma	Aankomstuur	19-apr
* Ryanair	Charleroi	Tenerife	Gemiddelde prijs	15-mei
* Ryanair	Charleroi	Napels	Aantal plaatsen beschikbaar	19-apr
* Ryanair	Charleroi	Palermo	Aantal tussenstops	26-mei
* Ryanair	Charleroi	Brindisi	Gemiddelde prijs	15/09 tot en met 30/10

In [72]:
ryanair = pd.read_csv('../scraping/ryanair.csv')
ryanair = ryanair.drop_duplicates(subset=['flightKey'])
dfMonth = ryanair['timeStart'].apply(lambda i: i.split('-')[1])
ryanair['timeStart'] = pd.to_datetime(ryanair['timeStart']) 
ryanair['timeEnd'] = pd.to_datetime(ryanair['timeEnd'])
ryanair.loc[ryanair.index, 'month'] = dfMonth
ryanair.head()

,serverTimeUTC,origin,originName,destination,destinationName,timeStart,timeEnd,dateOut,depTime,arrivalTime,...,currPrecision,fareCount,fareHasDiscount,farePublishedFare,fareDiscountInPercent,fareHasPromoDiscount,fareDiscountAmount,fareHasBogof,flightKey,month
0,2023-03-23,BRU,Brussels,AGP,Malaga,2023-04-02,2023-04-02,2023-04-02,09:55:00.000,12:50:00.000,...,2,1,False,186.15,0,False,0.0,False,FR~2923~ ~~BRU~04/02/2023 09:55~AGP~04/02/2023...,04
1,2023-03-23,BRU,Brussels,AGP,Malaga,2023-04-03,2023-04-03,2023-04-03,17:40:00.000,20:30:00.000,...,2,1,False,142.90,0,False,0.0,False,FR~2923~ ~~BRU~04/03/2023 17:40~AGP~04/03/2023...,04
2,2023-03-23,BRU,Brussels,PMI,Mallorca,2023-04-03,2023-04-03,2023-04-03,20:25:00.000,22:40:00.000,...,2,1,False,76.70,0,False,0.0,False,FR~2915~ ~~BRU~04/03/2023 20:25~PMI~04/03/2023...,04
3,2023-03-23,CRL,Brussels (Charleroi),CFU,Corfu,2023-04-02,2023-04-02,2023-04-02,17:00:00.000,20:40:00.000,...,2,1,False,132.54,0,False,0.0,False,FR~6251~ ~~CRL~04/02/2023 17:00~CFU~04/02/2023...,04
4,2023-03-23,CRL,Brussels (Charleroi),HER,Heraklion Crete,2023-04-01,2023-04-01,2023-04-01,08:10:00.000,12:35:00.000,...,2,1,True,211.99,0,False,15.2,False,FR~7986~ ~~CRL~04/01/2023 08:10~HER~04/01/2023...,04

# Ryanair	Brussel-Zaventem	Malaga	Aantal vluchten	April

In [73]:
count = ryanair.query('month == "04" and origin == "BRU" and destination == "AGP"')['origin'].count()
count

13

# Ryanair	Brussel-Zaventem	Palma	Gemiddelde prijs	Mei

In [74]:
prijs = ryanair.query('month == "05" and origin == "BRU" and destination == "PMI"')['fareAmount'].sum()
prijs

1331.02

In [75]:
count=ryanair.query('month == "05" and origin == "BRU" and destination == "PMI"')['origin'].count()
count

14

In [76]:
gemiddelde = prijs/count
gemiddelde

95.07285714285715

# Ryanair	Brussel-Zaventem	Malaga	Totaal aantal plaatsen beschikbaar	Juni

In [77]:
ryanair.replace(-1,0)
plaatsen = ryanair.query('month == "06" and origin == "BRU" and destination == "AGP"')['faresLeft'].sum()
plaatsen

6

# Ryanair	Brussel-Zaventem	Tenerife	Aantal vluchten	01/09 tot en met 14/09

In [78]:
ryanair.query('(timeStart >= "2023-09-01")and (timeEnd <= "2023-09-14") and (origin == "BRU") and (destination == "TFN")')['origin'].count()

0

# Ryanair	Charleroi	Alicante	Aantal vluchten	Juni

In [79]:
ryanair.query('(month=="06") and (origin == "CRL") and (destination == "ALC")')['destination'].count()

60

# Ryanair	Charleroi	Ibiza	Aantal vluchten	15/08 tot en met 27/08

In [80]:
ryanair.query('(timeStart >= "2023-08-15")and (timeEnd <= "2023-08-27")  and (origin == "CRL") and (destination == "IBZ")')['destination'].count()

8

# Ryanair	Charleroi	Malaga	Vertrekuur	8-apr

In [83]:
ryanair.query('( timeStart == "2023-04-08")  and (origin == "CRL") and (destination == "AGP")')['depTime']

78    13:35:00.000
Name: depTime, dtype: object

# Ryanair	Charleroi	Palma	Aankomstuur	19-apr

In [84]:
ryanair.query('( timeStart == "2023-04-19")  and (origin == "CRL") and (destination == "PMI")')['arrivalTime']

196    09:05:00.000
Name: arrivalTime, dtype: object

# Ryanair	Charleroi	Tenerife	Gemiddelde prijs	15-mei

In [ ]:
ryanair.query('( timeStart == "2023-05-15")  and (origin == "CRL") and (destination == "TNF")')['fareAmount'].mean()

nan

# Ryanair	Charleroi	Napels	Aantal plaatsen beschikbaar	19-apr

In [ ]:
ryanair.query('( timeStart == "2023-04-19")  and (origin == "CRL") and (destination == "NAP")')['faresLeft'].sum()

2

# Ryanair	Charleroi	Palermo	Aantal tussenstops	26-mei

In [ ]:
ryanair.query('( timeStart == "2023-05-26")  and (origin == "CRL") and (destination == "PMO")')['segmentAmnt']

580    1
Name: segmentAmnt, dtype: int64

# Ryanair	Charleroi	Brindisi	Gemiddelde prijs	15/09 tot en met 30/10

In [ ]:
aantal = ryanair.query('( timeStart >= "2023-09-15") and (timeStart <= "2023-10-30") and (origin == "CRL") and (destination == "BDS")')['origin'].count()
aantal

12

In [ ]:
prijs = ryanair.query('( timeStart >= "2023-09-15") and (timeStart <= "2023-10-30") and (origin == "CRL") and (destination == "BDS")')['fareAmount'].sum()
prijs

979.65

In [ ]:
gemiddelde = prijs/aantal
gemiddelde

81.6375