In [96]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt                                # Alternative visualisation system

In [97]:
tuifly = pd.read_csv('../scraping/tuifly.csv')

tuifly.head()
tuifly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_data_recieved  2811 non-null   object
 1   departDate          2811 non-null   object
 2   arrivalDate         2811 non-null   object
 3   flightNumber        2811 non-null   int64
 4   productId           2811 non-null   object
 5   depTime             2811 non-null   object
 6   arrivalTime         2811 non-null   object
 7   departAirportCode   2811 non-null   object
 8   arrivalAirportCode  2811 non-null   object
 9   journeyType         2811 non-null   object
 10  totalNumberOfStops  2811 non-null   int64
 11  journeyDuration     2811 non-null   object
 12  arrivalAirportName  2811 non-null   object
 13  departAirportName   2811 non-null   object
 14  availableSeats      2811 non-null   int64
 15  carrierCode         2811 non-null   object
 16  carrierName         2811 non-null   object
 17  totalPrice          2811 non-null   float64
 18  adultPrice          2811 non-null   float64
dtypes: float64(2), int64(3), object(14)
memory usage: 417.4+ KB

In [98]:
tuifly['departDate'] = pd.to_datetime(tuifly['departDate']) 
tuifly['arrivalDate'] = pd.to_datetime(tuifly['arrivalDate'])

In [99]:
tuifly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_data_recieved  2811 non-null   object
 1   departDate          2811 non-null   datetime64[ns]
 2   arrivalDate         2811 non-null   datetime64[ns]
 3   flightNumber        2811 non-null   int64
 4   productId           2811 non-null   object
 5   depTime             2811 non-null   object
 6   arrivalTime         2811 non-null   object
 7   departAirportCode   2811 non-null   object
 8   arrivalAirportCode  2811 non-null   object
 9   journeyType         2811 non-null   object
 10  totalNumberOfStops  2811 non-null   int64
 11  journeyDuration     2811 non-null   object
 12  arrivalAirportName  2811 non-null   object
 13  departAirportName   2811 non-null   object
 14  availableSeats      2811 non-null   int64
 15  carrierCode         2811 non-null   object
 16  carrierName         2811 non-null   object
 17  totalPrice          2811 non-null   float64
 18  adultPrice          2811 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(12)
memory usage: 417.4+ KB

1) aantal vluchten Brussel-Corfu in mei

In [100]:
prijs =tuifly.query("(departDate >= '2023-06-01') and (departDate < '2023-07-01') and (departAirportCode == 'ANR') and (arrivalAirportCode == 'ALC')")['totalPrice'].sum()
prijs

2754.8499999999995

In [101]:
aantal =tuifly.query("(departDate >= '2023-06-01') and (departDate < '2023-07-01') and (departAirportCode == 'ANR') and (arrivalAirportCode == 'ALC')")['totalPrice'].count()
aantal

15

In [102]:
gemiddelde_prijs=prijs/aantal
gemiddelde_prijs

183.65666666666664

2. Gemiddelde prijs Luik-Rhodos april

In [103]:
tuifly.query("(departDate >= '2023-04-01') and (departDate < '2023-05-01') and (departAirportCode == 'LGG') and (arrivalAirportCode == 'RHO')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
174,2023-03-16,2023-04-23,2023-04-23,2365,eJyMkt+K4jAYxV9FPm+/zORPa2vurDpxMdhFK84iIm2aLt...,12:45,17:35,LGG,RHO,Direct,0,3u 50m,Rhodos,Luik,10,TB,TUI fly,219.99,219.99
256,2023-03-16,2023-04-30,2023-04-30,2365,eJyMklGL4jAUhf+KXF9vZm6aVm3erDpxsdhFK84iImlNlu...,12:45,17:35,LGG,RHO,Direct,0,3u 50m,Rhodos,Luik,10,TB,TUI fly,319.99,319.99

3. vertrekuur Brussel-Brinddisi 18 jul

In [104]:
tuifly.query("(departDate == '2023-07-18')  and (departAirportCode == 'BRU') and (arrivalAirportCode == 'BDS')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
1416,2023-03-16,2023-07-18,2023-07-18,3511,eJyMkl2L4j4Yxb+KPN4+mXnSNrbNnfGl/LHon77gLCKS1r...,15:15,18:00,BRU,BDS,Direct,0,2u 45m,Brindisi,Brussel,10,TB,TUI fly,229.99,229.99

4. aankomstuur Luik-Alicante op 19 jun

In [105]:
tuifly.query("(departDate == '2023-06-19')  and (departAirportCode == 'LGG') and (arrivalAirportCode == 'ALC')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
978,2023-03-16,2023-06-19,2023-06-19,1161,eJyMkl+L4jwYxb+KPN4+mUn6JzW5a6sTXg36MirOIiJpTZ...,06:00,08:45,LGG,ALC,Direct,0,2u 45m,Alicante,Luik,10,TB,TUI fly,159.99,159.99

5. aantal stops brussel corfu 23 mei

In [107]:
tuifly.query("(departDate == '2023-05-23')  and (departAirportCode == 'BRU') and (arrivalAirportCode == 'CFU')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
525,2023-03-16,2023-05-23,2023-05-23,2161,eJyMkmGL2kAQhv+KjF9n72Z3s0nYb9mgoeTwjpjgFRFJ4q...,06:00,12:10,BRU,CFU,Stop Over,1,5u 10m,Corfu,Brussel,10,TB,TUI fly,179.99,179.99