In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt                                # Alternative visualisation system

In [16]:
tuifly = pd.read_csv('../scraping/tuifly.csv')

tuifly.head()
tuifly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2934 entries, 0 to 2933
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_data_recieved  2934 non-null   object
 1   departDate          2934 non-null   object
 2   arrivalDate         2934 non-null   object
 3   flightNumber        2934 non-null   int64
 4   productId           2934 non-null   object
 5   depTime             2934 non-null   object
 6   arrivalTime         2934 non-null   object
 7   departAirportCode   2934 non-null   object
 8   arrivalAirportCode  2934 non-null   object
 9   journeyType         2934 non-null   object
 10  totalNumberOfStops  2934 non-null   int64
 11  journeyDuration     2934 non-null   object
 12  arrivalAirportName  2934 non-null   object
 13  departAirportName   2934 non-null   object
 14  availableSeats      2934 non-null   int64
 15  carrierCode         2934 non-null   object
 16  carrierName         2934 non-null   object
 17  totalPrice          2934 non-null   float64
 18  adultPrice          2934 non-null   float64
dtypes: float64(2), int64(3), object(14)
memory usage: 435.6+ KB

In [17]:
tuifly['departDate'] = pd.to_datetime(tuifly['departDate']) 
tuifly['arrivalDate'] = pd.to_datetime(tuifly['arrivalDate'])

In [18]:
tuifly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2934 entries, 0 to 2933
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_data_recieved  2934 non-null   object
 1   departDate          2934 non-null   datetime64[ns]
 2   arrivalDate         2934 non-null   datetime64[ns]
 3   flightNumber        2934 non-null   int64
 4   productId           2934 non-null   object
 5   depTime             2934 non-null   object
 6   arrivalTime         2934 non-null   object
 7   departAirportCode   2934 non-null   object
 8   arrivalAirportCode  2934 non-null   object
 9   journeyType         2934 non-null   object
 10  totalNumberOfStops  2934 non-null   int64
 11  journeyDuration     2934 non-null   object
 12  arrivalAirportName  2934 non-null   object
 13  departAirportName   2934 non-null   object
 14  availableSeats      2934 non-null   int64
 15  carrierCode         2934 non-null   object
 16  carrierName         2934 non-null   object
 17  totalPrice          2934 non-null   float64
 18  adultPrice          2934 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(12)
memory usage: 435.6+ KB

1) aantal vluchten Brussel-Corfu in mei

In [33]:
tuifly.query("(departDate >= '2023-05-01') and (departDate < '2023-06-01') and (departAirportCode == 'BRU') and (arrivalAirportCode == 'CFU')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
331,2023-03-14,2023-05-05,2023-05-05,2191,eJyMkVGL4jAUhf+KXF9vZm7SxNG8maplUepSW5xFRFqbLt...,16:30,20:35,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
332,2023-03-14,2023-05-07,2023-05-07,2191,eJyMkVGL4jAUhf+KXF9vZm7SxGreTEfLotSltjiLiLQ2Xb...,06:40,10:45,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
333,2023-03-14,2023-05-09,2023-05-09,2191,eJyMklGL4jAUhf+KXF9vZm7axLF5M8WWVdGltjiLiKQ2Xb...,06:00,10:05,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,169.99,169.99
425,2023-03-14,2023-05-12,2023-05-12,2191,eJyMkVGL4jAUhf+KXF9vZnJTE23eTEfLotSltjiLiDQal+...,16:30,20:35,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
426,2023-03-14,2023-05-14,2023-05-14,2191,eJyMkl+L4jAUxb+KXF9vZnLbJtq8maJlGf8stcVZRCTRuH...,06:40,10:45,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,239.99,239.99
427,2023-03-14,2023-05-15,2023-05-15,2191,eJyMkVGL2kAUhf+KXF/v7N6bOKOZNyeroSixxAS3iEiiY0...,06:00,10:05,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
428,2023-03-14,2023-05-16,2023-05-16,2161,eJyMkm+L4jAQh7+KjG8nu5nWRM27pmg51n/UFvcQkUbj0V...,06:00,12:10,BRU,CFU,Stop Over,0,5u 10m,Corfu,Brussel,10,TB,TUI fly,239.99,239.99
525,2023-03-14,2023-05-19,2023-05-19,2161,eJyMklGL4jAQx7+KjK+T3aRtapu3pmo5Kiq1xT1EJG3j0V...,14:30,20:35,BRU,CFU,Stop Over,0,5u 5m,Corfu,Brussel,10,TB,TUI fly,189.99,189.99
526,2023-03-14,2023-05-21,2023-05-21,2191,eJyMkkGPojAcxb+K+Xv9d6YtFLE3S5BsmOgGIc7GGFOgbN...,06:40,10:45,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,194.99,194.99
527,2023-03-14,2023-05-22,2023-05-22,2191,eJyMklGL4jAUhf+KXF9vZm5SU2veTEfLUtGltjiLiKRtXL...,06:00,10:05,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,189.99,189.99
528,2023-03-14,2023-05-23,2023-05-23,2161,eJyMkt+K4jAUh19FjrcnM/ljaid3TbFlZ0SltjiLiKRtXL...,06:00,12:10,BRU,CFU,Stop Over,0,5u 10m,Corfu,Brussel,10,TB,TUI fly,169.99,169.99
628,2023-03-14,2023-05-26,2023-05-26,2161,eJyMkWGL4jAQhv+KjF8nu0natJpvTdVyKFVqi3uISGrTo7...,14:30,20:35,BRU,CFU,Stop Over,0,5u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
629,2023-03-14,2023-05-28,2023-05-28,2191,eJyMkVGL4jAUhf+KXF9vZpI0sZ28maplUepSW5xFRFKbLt...,06:40,10:45,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
630,2023-03-14,2023-05-29,2023-05-29,2191,eJyMkVGL4jAUhf+KXF9vZm5iY23eTEfLotSltjiLiKQ2Xb...,06:00,10:05,BRU,CFU,Direct,0,3u 5m,Corfu,Brussel,10,TB,TUI fly,279.99,279.99
631,2023-03-14,2023-05-30,2023-05-30,2161,eJyMkmGL2kAQhv+KjF9n72Y3WePtt2xOQ8mhEhO8IiKJ2Z...,06:00,12:10,BRU,CFU,Stop Over,0,5u 10m,Corfu,Brussel,10,TB,TUI fly,189.99,189.99

2. Gemiddelde prijs Luik-Rhodos april

In [34]:
tuifly.query("(departDate >= '2023-04-01') and (departDate < '2023-05-01') and (departAirportCode == 'LGG') and (arrivalAirportCode == 'RHO')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
175,2023-03-14,2023-04-23,2023-04-23,2365,eJyMklFv2jAcxL8K+vP6d2sndhr8Rgo1ExaZIIhOCKHYca...,12:45,17:35,LGG,RHO,Direct,0,3u 50m,Rhodos,Luik,10,TB,TUI fly,219.99,219.99
256,2023-03-14,2023-04-30,2023-04-30,2365,eJyMklGL4jAUhf+KXF9vZm6apmrebHHiYrGLVpxFRJIal+...,12:45,17:35,LGG,RHO,Direct,0,3u 50m,Rhodos,Luik,10,TB,TUI fly,309.99,309.99

3. vertrekuur Brussel-Brinddisi 18 jul

In [37]:
tuifly.query("(departDate == '2023-07-18')  and (departAirportCode == 'BRU') and (arrivalAirportCode == 'BDS')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
1420,2023-03-14,2023-07-18,2023-07-18,3511,eJyMkl+L4jwYxb+KPN4+mcnTNGPNnbFOebHoS//gLCKS1n...,15:15,18:00,BRU,BDS,Direct,0,2u 45m,Brindisi,Brussel,10,TB,TUI fly,219.99,219.99

4. aankomstuur Luik-Alicante op 19 jun

In [39]:
tuifly.query("(departDate == '2023-06-19')  and (departAirportCode == 'LGG') and (arrivalAirportCode == 'ALC')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
982,2023-03-14,2023-06-19,2023-06-19,1161,eJyMkt+L4j4Uxf8Vub7ezNz0R7R5a4sTvhr0y6g4i4ikbb...,06:00,08:45,LGG,ALC,Direct,0,2u 45m,Alicante,Luik,10,TB,TUI fly,149.99,149.99

5. aantal stops brussel corfu 23 mei

In [40]:
tuifly.query("(departDate == '2023-05-23')  and (departAirportCode == 'BRU') and (arrivalAirportCode == 'CFU')")

,date_data_recieved,departDate,arrivalDate,flightNumber,productId,depTime,arrivalTime,departAirportCode,arrivalAirportCode,journeyType,totalNumberOfStops,journeyDuration,arrivalAirportName,departAirportName,availableSeats,carrierCode,carrierName,totalPrice,adultPrice
528,2023-03-14,2023-05-23,2023-05-23,2161,eJyMkt+K4jAUh19FjrcnM/ljaid3TbFlZ0SltjiLiKRtXL...,06:00,12:10,BRU,CFU,Stop Over,0,5u 10m,Corfu,Brussel,10,TB,TUI fly,169.99,169.99