In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt

* BrusslesAirlines	Brussel	alicante	Aantal vluchten	mei
* BrusslesAirlines	Brussel	Ibiza	Gemiddelde prijs	Juni
* BrusslesAirlines	Brussel	Ternerife	aantal vluchten	13 mei
* BrusslesAirlines	Brussel	Rhodos	Aantal vluchten	06/06 tot en met 07/07
* BrusslesAirlines	Brussel	Brindisi	vertrekuur	mei
* BrusslesAirlines	Brussel	Napels	Aankomst uur juni
* BrusslesAirlines	Brussel	Palermo	Aantal tussenstops	Juli
* BrusslesAirlines	Brussel	Faro	gemiddelde prijs	April
* BrusslesAirlines	Brussel	Allicante   Aantal vluchten	Juli
* BrusslesAirlines	Brussel	Ibiza	Vertrek uur Juni
* BrusslesAirlines	Brussel	Malaga	Aankomst uur	Juli
* BrusslesAirlines	Brussel	Tenerife	Aantal tussenstops	April

In [4]:
brusselsAir = pd.read_csv("../../brusselsAirlines.csv")

brusselsAir['datum_vlucht']=pd.to_datetime(brusselsAir['datum_vlucht'])

brusselsAir.head()

,datum_extract,datum_vlucht,start,stop,Vertrek uur,Aankomst uur,duur,aantalStops,prijs,stoelen,tussenstop Viegvelden,FlightNummers,Vliegtuigen
0,2023-03-29,2023-01-05,Brussel,Palermo,06:55,11:05,4h 10m,1,"154,58",-1,"{'(PMO)', '(MUC)', '(BRU)'}","{'1914', '2023', '5629'}","{'A320', 'A319'}"
1,2023-03-29,2023-01-05,Brussel,Palermo,20:45,11:05,14h 20m,1,"261,67",-1,"{'(PMO)', '(MUC)', '(BRU)'}","{'2023', '2291', '1914'}",{'A320'}
2,2023-03-29,2023-01-05,Brussel,Palermo,20:05,11:05,15h 00m,2,"314,32",1,"{'(PMO)', '(FRA)', '(MUC)', '(BRU)'}","{'2023', '1019', '1914'}","{'A320', 'A321'}"
3,2023-03-29,2023-01-05,Brussel,Palermo,19:15,11:05,15h 50m,2,"315,20",-1,"{'(PMO)', '(FRA)', '(MUC)', '(BRU)'}","{'2023', '5589', '1914'}","{'A321', 'A319', 'A320'}"
4,2023-03-29,2023-01-05,Brussel,Palermo,06:55,11:05,4h 10m,1,"154,58",-1,"{'(PMO)', '(BRU)', '(MUC)'}","{'5629', '1914', '2023'}","{'A320', 'A319'}"

# BRU	Brussel	Allicante	Aantal vluchten	Mei

In [ ]:
count=brusselsAir.query('datum_vlucht >= "2023-05-01" and datum_vlucht <= "2023-06-01" and start == "Brussel" and stop == "Allicante"').count()
count

# BrusslesAirlines	Brussel	Ibiza	Gemiddelde prijs	Juni

In [ ]:
prijs =brusselsAir.query("(datum_vlucht >= '2023-06-01') and (datum_vlucht < '2023-07-01') and (start == 'Brussel') and (stop == 'Ibiza')")['prijs'].sum()
aantal=brusselsAir.query("(datum_vlucht >= '2023-06-01') and (datum_vlucht < '2023-07-01') and (start == 'Brussel') and (stop == 'Ibiza')").count()
print(prijs/aantal)

# BrusslesAirlines	Brussel	Tenerife	aantal vluchten	13 mei

In [ ]:
vluchten =brusselsAir.query("(datum_vlucht== '2023-05-13') and (start == 'Brussel') and (stop== 'Tenerife') ").count()

# BrusslesAirlines	Brussel	Rhodos	Aantal vluchten	06/06 tot en met 07/07

In [ ]:
vluchtenrhodos = brusselsAir.query("(datum_vlucht >= '2023-06-06') and (datum_vlucht < '2023-07-07') and (start == 'Brussel') and (stop == 'Rhodos')").count()
print(vluchtenrhodos)

# BrusslesAirlines	Brussel	Brindisi	vertrekuur	mei

In [ ]:
brusselsAir.query("(datum_vlucht => '2023-05-01') and (datum_vlucht < '2023-06-01')  and (start == 'Brussel') and (stop == 'Brindisi')")['Vertrek uur']

# BrusslesAirlines	Brussel	Napels	Aankomst uur juni

In [ ]:
brusselsAir.query("(datum vlucht => '2023-06-01') and (datum_vlucht< '2023-07-01')  and (start == 'Brussel') and (stop == 'Napels')")['Aankomst uur']

# BrusslesAirlines	Brussel	Palermo	Aantal tussenstops	Juli

In [ ]:
som = brusselsAir.query("(datum vlucht => '2023-07-01') and (datum_vlucht< '2023-08-01')  and (start == 'Brussel') and (stop == 'Palermo')")['aantalStops']

# BrusslesAirlines	Brussel	Faro	gemiddelde prijs	April

In [ ]:
prijs =brusselsAir.query("(datum_vlucht >= '2023-04-01') and (datum_vlucht < '2023-05-01') and (start == 'Brussel') and (stop == 'Faro')")['prijs'].sum()
aantal=brusselsAir.query("(datum_vlucht >= '2023-04-01') and (datum_vlucht < '2023-05-01') and (start == 'Brussel') and (stop == 'Faro')").count()
print(prijs/aantal)

# BrusslesAirlines	Brussel	Allicante   Aantal vluchten	Juli

In [ ]:
count=brusselsAir.query('datum_vlucht >= "2023-07-01" and datum_vlucht <= "2023-08-01" and start == "Brussel" and stop == "Allicante"').count()
print(count)

# BrusslesAirlines	Brussel	Ibiza	Vertrek uur Juni

In [ ]:
brusselsAir.query("(datum_vlucht => '2023-06-01') and (datum_vlucht < '2023-07-01')  and (start == 'Brussel') and (stop == 'Ibiza')")['Vertrek uur']

# BrusslesAirlines	Brussel	Malaga	Aankomst uur	Juli

In [ ]:
brusselsAir.query("(datum vlucht => '2023-07-01') and (datum_vlucht< '2023-08-01')  and (start == 'Brussel') and (stop == 'Malaga')")['Aankomst uur']

# BrusslesAirlines	Brussel	Tenerife	Aantal tussenstops	April

In [ ]:
brusselsAir.query("(datum_vlucht => '2023-04-01') and (datum_vlucht < '2023-05-01')  and (start == 'Brussel') and (stop == 'Tenerife')")['aantalStops']